{% if pagination.pages > 1 %}
<nav><ul class="pagination justify-content-center">
    <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}"><a class="page-link" href="{{ url_for(request.endpoint, page=pagination.prev_num, **request.args) }}">上一页</a></li>
    {% for page in pagination.iter_pages() %}{% if page %}<li class="page-item {% if page == pagination.page %}active{% endif %}"><a class="page-link" href="{{ url_for(request.endpoint, page=page, **request.args) }}">{{ page }}</a></li>{% else %}<li class="page-item disabled"><span class="page-link">...</span></li>{% endif %}{% endfor %}
    <li class="page-item {% if not pagination.has_next %}disabled{% endif %}"><a class="page-link" href="{{ url_for(request.endpoint, page=pagination.next_num, **request.args) }}">下一页</a></li>
</ul></nav>
{% endif %}